body {
  background-image: url("station.jpg");
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

.scoreboard {
  display: flex;
  justify-content: space-around;
}

.team {
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 150px;
}

.team h2 {
  margin-top: 0;
}

button {
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 16px;
}
